.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
test/**
test-integration/**
out/**
node_modules/**
esbuild.js
tsconfig.json
tsconfig.integration.json
vitest.config.ts
**/*.map
**/*.ts
.gitignore
coverage/**
*.vsix
